.tableContainer {
    overflow-x: auto;
  }
  
  .table {
    width: 80%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #04AA6D;
    color: white;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  