.carousel-container {
    display: flex;
    width: 100%;
}

.carousel-half {
    width: 50%;
    padding: 10px;
    height:10%;
}

.carousel-half img {
    height: 10%;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.carousel-container p{
    font-size: 135%;
    text-align: center;
    padding-top: 25%;
    font-family: 'Quicksand', sans-serif;
}

.search-results-table {
    padding-left: 25%;
    padding-bottom: 5%;
    width:50%;
    margin-top: 20px;
}

.search-results-table table {
    width: 100%;
    border-collapse: collapse;
}

.search-results-table th, .search-results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.search-results-table th {
    background-color: #f2f2f2;
}


.search-container{
    padding-bottom: 5.5%;
}

.reset-button {
    padding: 10px 15px;
    margin-left: 10px; /* Spacing between search and reset buttons */
    border: none;
    border-radius: 4px;
    background-color: #f44336; /* Red color for reset */
    color: white;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}
